body{
  background-color: lightgoldenrodyellow
}
#countLabel{
  display: block;
  text-align: center;
  padding: 10px 20x;
  font-size: 10em;
}
#buttonContainer{
  text-align: center
}
.btns{
  font-size: 2em;
  background-color: lightblue;
  border-radius: 10px;
}
.btns:active{
  background-color: blue
}
h2{
  text-align: center
}
h3{
  text-align: center
}
h4{
  text-align: center
}
h1{
  text-align: center;
  font-size: 3em;
  background-color: lightgrey;
  padding: 10px 20px;
}